#Principal {
    width:1000px;
    margin: auto;
    border: solid 1px;
}
#left-content {
    width: 40%;
    display: inline-block;
    float: left;
}
#right-content {
    width: 60%;
    display: inline-block;
    float: right;
}
#right-content img {
 display: inline-block;
  float: left;
  width: 50%;
  height: auto;
}
#img-content {
    width: 30%;
    display: inline-block;
    float: left;
}
#Logo {
    display: inline-block;
    margin-left: 105px;
    margin-top: 105px;
    width:10%;
}
#Titre {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    text-align: center;
}